
body {
  font-family: 'Jura', sans-serif;
}

// p Tag

p {
  font-size: 2rem;
}

// Custom Link

a {
  font-size: 2.3rem;
  text-decoration: none;
  color: $blue;
  transition: all .3s ease;
  position: relative;
  padding-bottom: 5px;
  @include lg { // 992px window width and more
  	font-size: 2.5rem;
  }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100%;
        border-bottom: 3px solid $tomato;
        transition: right 0.3s ease-out;
    }

    &:hover {
      color: $orange;
    &::before { right: 0; }
    }
}

// Blocquote

blockquote * {
  font-size: 2.5rem;
}

// Responsive Image

img {
    max-width: 100%;
    height: auto;
		padding: 10px 0;
}

// SVG Effect

.svg-lighten {
	filter: invert(80%);
  transition: all .3s ease;
  &:hover {
    filter: invert(100%);
  }
}

// Hover Effect

.hover {
  transition: transform .3s; /* Animation */
}

.hover:hover {
  transform: scale(.97);
}

// Center elements

.center {
  @include center; // _mixins center
}

// Flex Center

.flex-center {
  @include flex_center; // _mixins center
}

// Medium Panel

.medium-panel {
  @include medium_panel; // _mixins.scss ( medium_panel )
}

// Logo

.site-logo {
  @include center; // _mixins center
  @include lg { // 992px window width and more
    margin-left: 0;
  }

  span.site-name {
    color: $alice;
    font-size: 3rem;
    transition: all .3s ease;
    @include lg { // 992px window width and more
      font-size: 4rem;
    }
  }

  span.site-description {
    font-size: 1.7rem;
    color: rgba($alice, .7);
    padding-left: 0;
    transition: all .3s ease;
    @include lg { // 992px window width and more
      font-size: 2rem;
      padding-left: 30px;
    }
  }

  &:hover {
    span.site-name {
      color: rgba($alice, .7);
    }
    span.site-description {
      color:$alice;
    }
  }
}

// Nav

.navs {
  margin-top: 20px;
  @include lg { // 992px window width and more
    margin-top: 0;
  }
}

.main-nav {
  list-style-type: none;

  a {
    font-size: 2rem;
    @include lg { // 992px window width and more
        font-size: 2.5rem;
    }
  }

  li {
    float: left;
    padding: 5px;
  }
  // Effect ( nav )
  .current {
    a {
      color: $alice;
      border-bottom: 2px solid $alice;
    }
  }
}

// Lang Menu

.lang-menu  {
list-style-type: none;
  a {
    font-size: 2rem;
  }

li {
  float: left;
  padding: 5px;
  svg {
    width: 20px;
    height: 20px;
  }
}
// Effect ( nav )
  .current {
    a {
      color: $alice;
    }
  }
}

//  Header SEO

.header-seo {
  .meta-title { // Meta Title
    color: $alice;
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    @include lg { // 992px window width and more
      font-size: 9rem;
    }
  }
  .meta-description { // Meta Description
    font-size: 2rem;
    color: rgba($alice, .7);
    margin-top: 20px;
    @include lg { // 992px window width and more
      font-size: 2.5rem;
    }
  }
}

// External Links

.external-links {
  ul {
    @include flex_center;
    margin-bottom: 0;
    li {
      list-style: none;
      margin: 10px;
    }
      a {
        border-radius: 90px;
        display: block;
        border-bottom: 2px solid;
        border-left: 2px solid;
        padding: 8px 8px;
        width: 50px;
        height: 50px;
        svg {
          width: 30px;
          height: 30px;
        }
        &::before {
          border-bottom: 0;
        }
      }
    @include lg { // 992px window width and more
      a {
        padding: 15px 15px;
        width: 90px;
        height: 90px;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// Breadcrumbs

.breadcrumbs {
  color: aliceblue;
  text-align: center;
	font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  @include lg { // 992px window width and more
    text-align: right;
  }
}

// Privacy Panel

.privacy-panel {
  margin-top: 20px;
  a {
    font-size: 2rem;
    padding-bottom: 10px;
    span {
      color: rgba($alice, .7);
    }
  }

}

// Main Area ( Flex Content )

.main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  a {
    color: $black;
  }

  .content-body {
    flex: 1;
    padding: 10px;
    width: 100%;
    order: 1;
  }
  .sidebar {
    padding: 10px;
    width: 100%;
    order: 2;
  }
  @include lg { // 992px window width and more
    .content-body {
      flex: 1;
      order: 2;
      width: auto;
    }
    .sidebar {
      width: 30%;
      order: 1;
    }
  }
}

// sidebar Headings

.sidebar-heading {
  margin-bottom: 5px;
  border-bottom: 10px solid tomato;
  padding: 5px;
  width: 100%;
  @include lg { // 992px window width and more
      width: 80%;
  }
}

// Home Sections

.home-sections {
	.section-heading {
		font-size: 3rem;
		margin-bottom: 5px;
		padding: 5px;
		border-bottom: 5px solid tomato;
		width: 100%;
	}
	@include lg {
		.section-heading {
			width: 80%;
			font-size: 4rem;
	 }
	}
}

// Footer

.footer {
	background: $dark_gray;
	color: $alice;
  margin: 0;
	padding: 60px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center;     /* center items horizontally, in this case */
	p {
		margin: 0;
	}
}

/* Pages */

// Blog Post
#blog-info {
  margin-top: 15px;
  margin-bottom: 15px;
  p {
    color: $alice;
    font-size: 2rem;
    text-align: left;
  }
}
// MarkupSocialShareButtons
ul.m-social-post {
  li {
    list-style: none;
    margin: 5px 9px;
  }
  a {
    svg {
       width: 50px;
       height: 50px;
       stroke-width: 1px;
    }
  }
}

// Blog Posts
// MarkupSocialShareButtons
ul.m-social-posts {
  li {
    list-style: none;
    margin: 3px 5px;
  }
  a {
    svg {
       width: 40px;
       height: 40px;
       stroke-width: 1px;
    }
  }
}

// Blog Author

ul.author-links {
  li {
    list-style: none;
    margin: 5px 9px;
    a {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

// Button Edit Page

.b-edit {
	margin: 10px;
}

// Debug Regions

#debug {
	padding: 10px;

	pre {
		padding: 20px;
	}

}
